@font-face
   font-family: 'SanFranciscoDisplay-Medium'
   src: url("../../fonts/SanFranciscoDisplay-Medium.otf") format("opentype")

body
  font-family: 'SanFranciscoDisplay-Medium', sans-serif
  font-size: 1.350rem
  padding-top:60px
  text-rendering: optimizeLegibility

.message
  display: block
  font-size:1.4em

.loading
  display:flex
  align-items: center
  justify-content: center
  flex-direction: column
  position:fixed
  top:0px
  right:0px
  width:100%
  height:100%
  background-color:rgba(255,255,255,0.8)
  z-index:100
  &.inactive
    display:none

//
th
  font-size:1.6rem
  font-weight:300

//table
.ReactTable
  .rt-thead
    overflow-y: scroll

  .rt-td
    text-align: center
    font-style: normal

  .rt-th
    font-size: 1.6rem
    font-weight: 300
    text-align: center
    outline: none

//barra topo
$bgBarra = #f4f4f4

ul.currency-market
  list-style-type: none
  display:flex
  -ms-align-items: center
  align-items: center
  justify-content: space-evenly
  flex-direction:row
  padding:8px 4px
  background: $bgBarra
  font-size:1.3rem
  border-bottom:1px solid #f2f2f2
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.176)
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.176)
  color:#555
  li span
    color:#222

//barra pre table
.bar-after-header
  display:flex
  justify-content: space-around
  align-items: center
  background: $bgBarra
  padding:6px
  margin-top: 20px

.box-num-cvt, .box-total-cvt
  display:flex
  align-items: center
  justify-content: center
  span
    display:flex
    align-items: center
    justify-content: center
    &:last-child
      margin-left:6px
      i
        margin-right:4px


//icons
// icone para fechar modal moeda
$posIcon = absolute
$topIcon = 6px
.close-icon
  position: $posIcon
  top: $topIcon

// icone para abrir modal timer
.open-timer-icon
  position: $posIcon
  top: $topIcon
  left:6%
  cursor:pointer

//icone para trocar moeda
.crypto-icon
  position: $posIcon
  top: $topIcon
  right:6%
  cursor:pointer

//barra fixa topo
.bar-fixed-top
  position:fixed
  top:-30px
  left:0
  right:0
  z-index:80
  visibility: hidden
  opacity: 0
  transition: all 250ms ease-in-out

  &.active
    opacity:1
    visibility: visible
    transform: translate3d(0,30px,0)
  &.inactive
    opacity:1
    visibility: visible
    transform:translate3d(0,-30px,0)


//modal change
//
.bg-modal-currency
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  margin: 0
  padding: 0
  list-style: none
  background-color: rgba(0, 0, 0, 0.8)
  z-index: 1100
  opacity: 0
  visibility: hidden
  -webkit-transition: opacity 0.4s ease-in-out 0s
  transition: opacity 0.4s ease-in-out 0s
  &.active
    opacity: 1
    visibility: visible

.modal-currency
  position:absolute
  height: 80%
  width: 94%
  max-width: 680px
  top: 0
  bottom: 0
  left: 0
  right: 0
  margin:auto
  background-color:rgba(255,255,255,1)
  z-index:100
  overflow:hidden
  z-index: 1200
  opacity: 0
  visibility: hidden
  border-radius: 8px
  -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0s
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0s
  -webkit-transform: scale(0.2)
  transform: scale(0.2)

  /*opacity:0
  visibility: hidden
  transition-duration: .3s
  transition-property: visibility, color, opacity
  transition-timing-function: ease-in-out*/

  &.active
    /*opacity: 1
    visibility: visible*/
    opacity: 1
    visibility: visible
    -webkit-transform: scale(1)
    transform: scale(1)

  .close
    position: absolute
    top: 20px
    left: 24px
    color: #2B81F5
    font-size: 3em
    cursor: pointer

    &.active
      opacity: 1
      visibility: visible
      -webkit-transform: scale(1)
      transform: scale(1)

  .content
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    align-self: center
    width: 100%
    height: 100%
    font-size: 2em
    line-height:160%
    overflow-y: scroll
    ul
      list-style-type: none
      padding: 0

.lnk
  position: relative
  text-align: center
  text-decoration: none
  color: #2B81F5
  cursor: pointer
  font-weight: 300
  opacity: 0.8
  transition-duration: .2s
  transition-property: color, opacity
  transition-timing-function: ease-in-out
  &:before
    content: ""
    position: absolute
    width: 100%
    height: 2px
    bottom: 0
    left: 0
    background-color: #a94bf6
    visibility: hidden
    -webkit-transform: scaleX(0)
    transform: scaleX(0)
    -webkit-transition: all 0.3s ease-in-out 0s
    transition: all 0.3s ease-in-out 0s
  &:hover
    opacity: 1
    color:#A94BF6
    &:before
      visibility: visible
      -webkit-transform: scaleX(1)
      transform: scaleX(1)

.tab
  overflow: hidden
  border: 1px solid #ccc
  background-color: #f1f1f1
  margin-top:20px

  button
    background-color: inherit
    float: left
    border: none
    outline: none
    cursor: pointer
    padding: 14px 16px
    transition: 0.3s
    font-size: 1.3rem
    text-transform: uppercase
    &:hover
      background-color: #ddd

    &.active
      background-color: #ccc

.tabcontent
  display: none
  padding: 6px
  border: 1px solid #ccc
  border-top: none
  &.active
    display:block
  &.inactive
    display:none

.frameInvesting
  width:100%
  width:100%
  min-height:460px
  max-height:800px
  height:100%

.label-buy
  color:#388FE2
  font-size:1em

.label-sell
  color:#D6464F
  font-size:1em

.label-total
  color:grey
  font-weight:bold

.label-spacing
  padding-right:8px
  margin-left:6px
.preLogo
  display: flex
  justify-content: center
  align-items: center
  width:100px
  height:60px
  margin:0 auto
  h1
    margin-top: 0


.spinner
  width: 80px
  height: 80px
  background-color: #2B81F5
  border-radius: 100%
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out
  animation: sk-scaleout 1.0s infinite ease-in-out


@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0)
  }
  100% {
    -webkit-transform: scale(1.0)
    opacity: 0
  }
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0)
    transform: scale(0)
  }

  100% {
    -webkit-transform: scale(1.0)
    transform: scale(1.0)
    opacity: 0
  }
}




@media screen and (max-width:768px)
  body
    margin-top:20px

  ul.currency-market
    justify-content: center
    flex-direction:row
    -webkit-flex-wrap: wrap
    -ms-flex-wrap: wrap
    flex-wrap: wrap
    li
      min-width:150px
om
  .bar-after-header
    flex-direction:column
    padding:16px 10px
    margin-bottom:10px
